<div class="row">
  <div class="col-md-12">

    <nb-card>
      <nb-card-header>dialog</nb-card-header>
      <nb-card-body>
        <button class="btn btn-success" (click)="showLargeModal()">Large modal</button>
        <button class="btn btn-warning" (click)="showSmallModal()">Small modal</button>
        <button class="btn btn-primary" (click)="showStaticModal()">Static modal</button>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-12">
    <nb-card>
      <nb-card-header>notice</nb-card-header>
      <nb-card-body>
        <button class="btn btn-success" (click)="showNotice()">show</button>

      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-12">
    <nb-card>
      <nb-card-header>test dialog</nb-card-header>
      <nb-card-body>

        <ng-template #content let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title">Modal title</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>One fine body&hellip;</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-md btn-primary" (click)="c('Close click')">Close</button>
          </div>
        </ng-template>

        <ng-template #content2>

            <div >
                <div class="modal-header">
                    <span>fdsafda</span>
                    <button class="close" aria-label="Close" (click)="closeModal()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                   fdsa
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-md btn-primary" (click)="closeModal()">Save changes</button>
                  </div>
            </div>

          </ng-template>

        <button class="btn btn-success" (click)="showdialog(content2)">show</button>

      </nb-card-body>
    </nb-card>
  </div>


</div>
